
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxanium:wght@200..800&display=swap');
:root{
    --font : 'Beba Neue', sans-serif ;
    --font1 : 'Oxanium' , sans-serif;
    --cor1:#23A7CF;
    --cor2:#378BA5;
    --cor4:#00C1FA;
    --cor5:#3D6C7A;
    --cor6:#354A50;
}

/*Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1)
}

body{
    background-color:rgba(0, 0, 0, 0.932);
    height: 100vh;
}

.interface{ /* limitação do site */
    max-width: 1280px;
    margin: 0 auto;
}

h2.titulo{
    color: #fff;
    font-size: 33px;
    text-align: center;
}

h2.titulo span {
    color: blue;
}

.flex{
    display: flex;
}
.bnt-contato button {
    padding:10px 40px ;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(0, 0, 255, 0.986);
    border: 0x;
    border-radius: 30px;
    cursor: pointer;
}
 button:hover ,form .btnenviar input:hover {
    box-shadow: 0px 0px 8px rgba(131, 131, 230, 0.466) ;
    transform: scale(1.05);
    transition: 2.s;
}

/* estilo do cabeçalho */

header{
    padding: 40px 4%;
    box-shadow: 0px 5px 10px rgba(235, 229, 229, 0.37);
}

header >.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgba(255, 255, 255, 0.37);
    text-decoration: none;
    display:inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block ;
    padding: 0 40px ;
}




/*Estilo top site */
section.topodosite{
    padding: 40px 4%;
}
section.topodosite.flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topodosite .txttoposite h1{
    color: #fff;
    font-size:  34px;
    line-height: 40px;
}

.topodosite span{
    color: blue;

}

.topodosite .txttoposite p{
    color: white;
    margin:  40px 0px;
}

.topodosite .imagtoposite img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate ;
}

/* animação das imagem */
@keyframes flutuar {
    0%{
        top:0;
    }
    100% {
        top:30px ;
    }
}

/* Estilo especialidades */

section.especialdiades {
    padding: 40px 4%;
}

section.especialdiades .flex{ /* separação da DIV*/
    gap: 60px;
}

.especialidades .especialidadesbox { /* configuração de todos os elementos dentro da div */
    color: white;
    padding: 40px;
    
    border-radius: 20px;
    margin-top: 45px ;
    transform: .2;
}

.especialidades .especialidadesbox:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px #ffffff6c;  
}

.especialidades .especialidadesbox i {/* configuração do icones */
    font-size: 48px;
    color: rgb(3, 3, 241);

}

.especialidades .especialidadesbox h3 {
    font-size: 28px;
    margin: 15px 0px;
}


/* ESTILO SOBRE */

section.sobre {
    padding: 40px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}
.sobre .txtsobre {
    color: #fff;
   
}

.sobre .txtsobre .h2 {
    font-size: 40px;   
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txtsobre h2 span {
    color: blue;
    display: block; /* JOGA O ELEMENTO SPAN PARA LINHA A BAIXO */
}

.sobre .txtsobre p {
    margin: 20px 0;
    text-align: justify;
}

 .btnsocial button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: blue;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.imgsobre > img {
    border-radius: 40px;
}

/* Estilo portifolio */

section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px ;
}

section.portifolio .flex {
    gap: 80px; /* Espaço para as DIV*/
    justify-content: space-around;
    margin-top: 60px;
}

.imgport{
    width: 360px;
    height: 460px;
    background-color:rgb(37, 37, 175);
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;

}

.imgport:hover{
    background-position: 100% 100%;

}

.orverlay{
    position:absolute;
    top: 0;
    left: 0;
    width: 100% ;
    height: 100% ;
    background-color: rgba(5, 5, 19, 0.61);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.orverlay:hover {
   opacity: 1; 
}

/* ESTILO DO FORMULARIO DE CONTATO */

section.formulario {
    padding: 80px 4%;
}

form{
    max-width: 560px; /*largura maxima do formulario */
    margin:20px auto ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px ;

}

form input, form textarea{
    width: 100%;
    background-color: rgba(95, 90, 90, 0.172);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    
}

form input::placeholder {
    color: white;
}

form textarea{
    resize: none;
    max-height: 1000px;
   
    color: #fff;
}

form textarea::placeholder {
    color: #fff;
}

form .btnenviar {
    margin-top: 20px;
    text-align: center;
}

form .btnenviar input {
    width: 120px;
    background-color: blue;
    color: black ;
    font-weight: 700px;
    cursor: pointer;
    transition: .2s;
}

/* Estilo rodape */

footer {
    padding: 40px 4% ;
    box-shadow: 0 0 40px 10px rgba(129, 127, 127, 0.361);
}

footer .flex {
    justify-content: space-between;

}

footer .line-footer{
    padding: 20px 0px ;
    border-bottom: 2px solid blue;
}

footer .line-footer p i {
    color: blue;
    font-size: 22px;
}

footer .line-footer a {
    color: white;
}

@media screen and (max-width :1020px) {
    /*Classe flex */

    .flex {
        flex-direction: column-reverse; /* inversão */
    }

    /*cabeçalho*/
    .menu-desktop, .bnt-contato{
        display: none;
    }

    /* Top do site */
    .topodosite .txttoposite h1{
        
        font-size:  34px;
        line-height: 40px;
    }

    .topodosite .txttoposite {
        padding: 20px 8% ; 
    }

    section .especialdiades {
        padding: 40px 8% ;
    }   

    .sobre .txtsobre h2 {
        font-size: 30px;   
        line-height: 40px;
        
        text-align: center;
    }

    footer .flex {
        text-align: center;
    }
    
    /*ROdape*/

    footer .flex{
        flex-direction: column;
    }

    
    

   
}